In [1]:
import pandas as pd

In [2]:
df_ur = pd.read_csv("tag_data/VA51_UrbanBlkGrpMapping.csv")
df_clim = pd.read_csv("tag_data/county-climatezone.csv")
df_recs = pd.read_csv("tag_data/recs2015_public_v2.csv")
df_temp = pd.read_csv("tag_data/t_v2_51_2014_01_08.csv")
df_dem = pd.read_csv("tag_data/va_hh_51003_51540.csv")

In [3]:
# NUMBER OF CVS HOUSEHOLDS IN DEM DATA 
prefix_count = (df_dem['hid'].astype(str).str.startswith('51540')).sum()
prefix_count

18943

In [4]:
# NUMBER OF ALB HOUSEHOLDS IN DEM DATA 
prefix_count = (df_dem['hid'].astype(str).str.startswith('51003')).sum()
prefix_count

41357

In [5]:
df1 = pd.read_csv('VA540-20141208.csv')
df2 = pd.read_csv('VA003-20141208.csv')

In [6]:
dataframes = []
dataframes.append(df1)
dataframes.append(df2)

In [7]:
energy_df = pd.concat(dataframes, ignore_index=True)

In [8]:
houses = [] # Stores total households in SPEW data
houses_2 = [] # Stores total households in Energy Data

In [9]:
energy_df.head()

,hid,total_kwh_1,total_kwh_2,total_kwh_3,total_kwh_4,total_kwh_5,total_kwh_6,total_kwh_7,total_kwh_8,total_kwh_9,...,cook_wh_16,cook_wh_17,cook_wh_18,cook_wh_19,cook_wh_20,cook_wh_21,cook_wh_22,cook_wh_23,cook_wh_24,Unnamed: 217
0,51540000401829,0.938,0.968,0.981,0.995,1.018,1.071,4.142,1.141,2.552,...,0.000,0.000,0.000,116.926,0.000,0.0,0.0,0.0,0.0,NaN
1,51540000401828,1.136,1.178,1.191,1.215,1.236,1.243,4.069,1.240,1.144,...,14.789,59.154,0.000,115.363,55.934,0.0,0.0,0.0,0.0,NaN
2,51540000401827,0.084,0.090,0.091,0.080,0.088,0.088,0.407,1.866,0.082,...,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.0,0.0,NaN
3,51540000401826,0.774,0.808,0.827,0.837,0.855,1.534,4.185,1.929,1.060,...,0.000,0.000,140.500,0.000,0.000,0.0,0.0,0.0,0.0,NaN
4,51540000401825,2.047,2.099,2.142,2.174,2.208,3.749,2.474,2.209,2.069,...,0.000,0.000,613.979,0.000,0.000,0.0,0.0,0.0,0.0,NaN

In [10]:
for value in df_dem['hid']:
    houses.append(value)

In [11]:
len(houses)

60300

In [12]:
for value in energy_df['hid']:
    houses_2.append(value)

In [13]:
len(houses_2)

60246

In [14]:
non_identical_elements = set(houses) ^ set(houses_2)

In [15]:
print(non_identical_elements)

{51540000201437, 51540000201906, 51003011302720, 510030113021213, 515400006001215, 510030113021605, 515400010006, 515400006001176, 515400006001181, 515400006001182, 515400006001183, 510030114001448, 515400002021036, 515400002021037, 515400002021038, 515400002021041, 515400002021045, 515400002021074, 515400002021077, 515400002021082, 515400002021083, 5154000020215, 5154000020252, 5154000020265, 5154000020268, 51540000600827, 51003010902266, 51003010902270, 51540000700105, 51003011302707, 51003011302716, 51540000501588, 51540000501621, 510030103001690, 510030106011253, 515400002017, 51540000202665, 51540000202664, 51540000202689, 51540000202715, 51540000202711, 51540000202724, 51540000202733, 51540000600152, 51540000600811, 51540000600852, 51540000600858, 51540000600862, 515400002021448, 515400002021449, 515400002021450, 515400005015, 5154000060026, 515400006001}

In [16]:
mask = ~df_dem['hid'].isin(non_identical_elements)
df_dem = df_dem[mask]

In [17]:
df_dem.shape

(60246, 19)

In [18]:
df_dem.head()

,hid,SERIALNO,rid,census_tract_11fips,DIVISION,REGION,ST,NP,BLD,HINCP,RMSP,YBL,RELP,SEX,AGEP,RAC1P,SCH,SCHG,ESR
0,510030111001,573047,11868,51003011100,5,3,51,1,1,8500.0,4.0,5.0,0,1,31,1,2.0,15.0,6.0
1,510030111002,317222,11888,51003011100,5,3,51,1,2,6000.0,8.0,9.0,0,1,34,1,1.0,NaN,1.0
2,510030111003,725320,14389,51003011100,5,3,51,1,1,6900.0,5.0,7.0,0,1,30,1,1.0,NaN,6.0
3,510030111004,725320,12219,51003011100,5,3,51,1,1,6900.0,5.0,7.0,0,1,30,1,1.0,NaN,6.0
4,510030111005,46050,14633,51003011100,5,3,51,1,2,4000.0,4.0,5.0,0,1,44,1,1.0,NaN,6.0

### Urban-Rural Tags

In [18]:
df_ur.head()

                UNAME UATYPE  STATE    c      t  b   UACE         GEOID
0       Lynchburg_ VA      U     51   31  20401  1  52201  510310204011
1       Lynchburg_ VA      U     51   31  20300  1  52201  510310203001
2       Lynchburg_ VA      U     51   31  20402  2  52201  510310204022
3       Lynchburg_ VA      U     51   31  20401  2  52201  510310204012
4  Virginia Beach_ VA      U     51  800  65400  1  90892  518000654001

In [19]:
df_ur.shape

(3124, 8)

In [64]:
columns_to_keep = ['GEOID', 'UATYPE']
df_ur_2 = df_ur[columns_to_keep]

In [77]:
def has_six_digits(number):
    return len(str(number)) == 4

count_six_digit_numbers = df_ur['t'].apply(has_six_digits).sum()

print(count_six_digit_numbers)

238

In [67]:
def remove_first_5_digits(num):
    
    num_str = str(num)
    new_num_str = num_str[5:]
    new_num = int(new_num_str)
        
    return new_num

In [69]:
df_dem['ct'] = df_dem['census_tract_11fips'].apply(remove_first_5_digits)

<ipython-input-69-8e588e0f2f59>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dem['ct'] = df_dem['census_tract_11fips'].apply(remove_first_5_digits)

In [72]:
df_dem.shape

(60246, 20)

### Demographics Tags

In [119]:
# SEX

s_int = [1,2,3]  

df_dem['Sex'] = pd.cut(df_dem['SEX'], bins=s_int, labels=['Male', 'Female'], right=False)
s_counts = df_dem['Sex'].value_counts()


print(s_counts)

Female    30318
Male      29928
Name: Sex, dtype: int64

In [120]:
# Reference person

value_counts = df_dem['REGION'].value_counts()
value_counts

3    60246
Name: REGION, dtype: int64

In [121]:
age_intervals = [0, 19, 65, float('inf')]  # [0-18, 19-64, 65+]

df_dem['Age_Group'] = pd.cut(df_dem['AGEP'], bins=age_intervals, labels=['0-18', '19-64', '65+'], right=False)
age_group_counts = df_dem['Age_Group'].value_counts()


print(age_group_counts)

19-64    47034
65+      13122
0-18        90
Name: Age_Group, dtype: int64

In [122]:
value_counts = df_dem['RAC1P'].value_counts()
value_counts

# 1 .White alone
# 2 .Black or African American alone
# 3 .American Indian alone
# 5 .American Indian and Alaska Native tribes specified; or American Indian or Alaska Native, not specified and no other races
# 6 .Asian alone
# 7 .Native Hawaiian and Other Pacific Islander alone
# 8 .Some Other Race alone
# 9 .Two or More Races

1    49470
2     6966
6     2071
9     1377
8      229
3       63
7       40
5       30
Name: RAC1P, dtype: int64

In [123]:
# SCHOOL ENROLLMENT

value_counts = df_dem['SCH'].value_counts()
value_counts

# 1 .No, has not attended in the last 3 months
# 2 .Yes, public school or public college
# 3 .Yes, private school or college or home school

1.0    54835
2.0     4006
3.0     1405
Name: SCH, dtype: int64

In [124]:
# GRADE  LEVEL ATTENDING

value_counts = df_dem['SCHG'].value_counts()
value_counts

# 15 .College undergraduate years (freshman to senior)
# 16 .Graduate or professional school beyond a bachelor's degree

15.0    3417
16.0    1887
14.0      79
12.0       9
8.0        6
13.0       6
9.0        3
10.0       2
11.0       2
Name: SCHG, dtype: int64

In [125]:
value_counts = df_dem['ESR'].value_counts()
value_counts

#Employment status recode
# b .N/A (less than 16 years old)
# 1 .Civilian employed, at work
# 2 .Civilian employed, with a job but not at work
# 3 .Unemployed
# 4 .Armed forces, at work
# 5 .Armed forces, with a job but not at work
# 6 .Not in labor force

1.0    38319
6.0    18417
3.0     1705
4.0     1112
2.0      689
5.0        4
Name: ESR, dtype: int64

In [19]:
# When structure first built

value_counts = df_dem['YBL'].value_counts()
value_counts

# bb .N/A (GQ)
#  01 .1939 or earlier
#  02 .1940 to 1949
#  03 .1950 to 1959
#  04 .1960 to 1969
#  05 .1970 to 1979
#  06 .1980 to 1989
#  07 .1990 to 1999
#  08 .2000 to 2004
#  09 .2005
#  10 .2006
#  11 .2007
#  12 .2008
#  13 .2009
#  14 .2010
#  15 .2011
#  16 .2012
#  17 .2013

6.0     10206
7.0      9745
5.0      9431
4.0      6401
3.0      5751
8.0      4947
1.0      4821
2.0      3289
9.0      1241
10.0     1044
11.0      883
12.0      767
13.0      573
14.0      502
15.0      362
16.0      237
17.0       46
Name: YBL, dtype: int64

In [20]:
ybl_intervals = [1,4,6,8,float('inf')]  

df_dem['ybl_tag'] = pd.cut(df_dem['YBL'], bins=ybl_intervals, labels=['1959 or earlier','1960-1979','1980-1999','2000-2013'], right=False)
unit_counts = df_dem['ybl_tag'].value_counts()


print(unit_counts)

1980-1999          19951
1960-1979          15832
1959 or earlier    13861
2000-2013          10602
Name: ybl_tag, dtype: int64

In [29]:
value_counts = df_dem['HINCP'].value_counts()
value_counts

0.0         1286
50000.0      594
40000.0      541
30000.0      500
60000.0      475
            ...
28740.0        1
134900.0       1
129060.0       1
196020.0       1
364000.0       1
Name: HINCP, Length: 5296, dtype: int64

In [30]:
min_hincp = df_dem['HINCP'].min()
max_hincp = df_dem['HINCP'].max()

In [31]:
min_hincp

-14600.0

In [32]:
max_hincp

1190300.0

In [34]:
hincp_intervals = [float('-inf'),40000,100000,160000,float('inf')]  

df_dem['HINCP_TAG'] = pd.cut(df_dem['HINCP'], bins=hincp_intervals, labels=['Low income', 'Middle income', 'Upper-middle income','High income'], right=False)
unit_counts = df_dem['HINCP_TAG'].value_counts()


print(unit_counts)

Middle income          22336
Low income             20233
Upper-middle income     9842
High income             7835
Name: HINCP_TAG, dtype: int64

In [143]:
# Number of Rooms

value_counts = df_dem['RMSP'].value_counts()
value_counts

5.0     9946
6.0     9610
4.0     8120
7.0     7985
8.0     6528
3.0     4581
9.0     4367
10.0    2982
11.0    1563
2.0     1510
12.0    1130
1.0      627
13.0     494
19.0     476
14.0     327
Name: RMSP, dtype: int64

In [18]:
rmsp_intervals = [1,5,9,20]  

df_dem['RMSP_TAG'] = pd.cut(df_dem['RMSP'], bins=rmsp_intervals, labels=['1-4', '5-8', '9+'], right=False)
unit_counts = df_dem['RMSP_TAG'].value_counts()


print(unit_counts)

5-8    34101
1-4    14849
9+     11350
Name: RMSP_TAG, dtype: int64

In [22]:
# UNITS IN STRUCTURE

unit_intervals = [0,2,3,4,10,float('inf')]  

df_dem['Units'] = pd.cut(df_dem['BLD'], bins=unit_intervals, labels=['Mobile Home/Trailer/Apts', 'One-family house A', 'One-family house D','Mobile Home/Trailer/Apts','Mobile Home/Trailer/Apts'], right=False, ordered=False)
unit_counts = df_dem['Units'].value_counts()


print(unit_counts)

One-family house A          36826
Mobile Home/Trailer/Apts    16814
One-family house D           6606
Name: Units, dtype: int64

In [23]:
# NUMBER OF PERSONS

person_intervals = [1,2,3, float('inf')]  

df_dem['Persons'] = pd.cut(df_dem['NP'], bins=person_intervals, labels=['1','2', '2+'], right=False)
per_counts = df_dem['Persons'].value_counts()


print(per_counts)

2     21328
1     19508
2+    19410
Name: Persons, dtype: int64

### RECS Tags

In [20]:
columns_to_keep = ['DOEID', 'TOTSQFT_EN', 'KOWNRENT']
df_recs = df_recs[columns_to_keep]

In [21]:
df_recs.head()

   DOEID  TOTSQFT_EN  KOWNRENT
0  10001        1808         1
1  10002         759         1
2  10003        2288         1
3  10004        2573         1
4  10005        1024         1

In [22]:
merged_df = pd.merge(df_recs, df_dem, left_on='DOEID', right_on='rid', how='inner')

In [23]:
# KOWNRENT

# OWN OR RENT

# 1: Owned or being bought by someone in your household
# 0: Rented
# -2: Occupied without payment of rent

In [24]:
# TOTSQFT_EN

# Total Square Footage

In [23]:
merged_df.shape

(60246, 22)

In [24]:
merged_df.head()

,DOEID,TOTSQFT_EN,KOWNRENT,hid,SERIALNO,rid,census_tract_11fips,DIVISION,REGION,ST,...,HINCP,RMSP,YBL,RELP,SEX,AGEP,RAC1P,SCH,SCHG,ESR
0,10007,832,2,51003011100575,839653,10007,51003011100,5,3,51,...,180000.0,3.0,2.0,0,1,53,1,1.0,NaN,1.0
1,10007,832,2,510030111001900,833196,10007,51003011100,5,3,51,...,63200.0,4.0,6.0,0,2,25,1,1.0,NaN,6.0
2,10007,832,2,51540000402157,208607,10007,51540000402,5,3,51,...,11000.0,3.0,15.0,0,2,70,1,1.0,NaN,6.0
3,10007,832,2,51540000402959,1230012,10007,51540000402,5,3,51,...,15200.0,6.0,7.0,0,2,67,1,1.0,NaN,6.0
4,10007,832,2,51540000401305,779810,10007,51540000401,5,3,51,...,70000.0,3.0,5.0,0,2,26,1,1.0,NaN,1.0

In [112]:
min_sqft = merged_df['TOTSQFT_EN'].min()
max_sqft = merged_df['TOTSQFT_EN'].max()

In [113]:
min_sqft

407

In [114]:
max_sqft

8258

In [26]:
sqft_intervals = [400, 1500, 3500,10000]

merged_df['h_size'] = pd.cut(merged_df['TOTSQFT_EN'], bins=sqft_intervals, labels=['small', 'medium', 'large'], right=False)
h_counts = merged_df['h_size'].value_counts()


print(h_counts)

small     25789
medium    25180
large      9277
Name: h_size, dtype: int64

In [27]:
value_counts = merged_df['KOWNRENT'].value_counts()

In [28]:
value_counts

1    41703
2    17887
3      656
Name: KOWNRENT, dtype: int64